@charset "UTF-8";
/* CSS Document */
/*-----------------------------
	search common
*/
.f{
	font-family: "Source Sans Pro", helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #888;
}
.inpt{
	outline: none;
	padding: 2px 0 3px 5px;
	font-family: "Source Sans Pro", helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #888; 
}
.inpt{
	background-color:#FFF;
}
.inpt::::-webkit-input-placeholder{
	color: #ccc;
}

/*-----------------------------------------
	search
*/
form.search{
	position: absolute;
	right: 20px;
	top: 23px;
	width: 150px;
}
.search input{
	outline: none;
	float: right;
	width: 70px;
	padding: 2px 0 3px 5px;
	font-family: "Source Sans Pro", helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #888;  
    border-radius:10px 0px 10px 0px;
    -webkit-transition: width 2s;
	-moz-transition: width 2s;
	transition: width 2s;
}
.search input:focus{
	width: 140px;
}
form.search input {
	background-color:#FFF;
}
form.search input::-webkit-input-placeholder {
	color:#ccc;
}
.search label{
	display: none;
}