<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>accordion</title>
        <link rel="stylesheet" type="text/css" href="css/lib.css">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/alert.css">
    </head>
    <body id="css-zen-garden">
    	<div class="page-wrapper"> 
            <button id="modal-dialog" data-toggle="modal" data-target="#modal" class="btn"> show</button>
        </div>
        <aside class="modal-wrapper fade" id="modal">
            <div class="delt-btn-wrapper">
                <a class="close-reveal-modal" data-dismiss="modal">&#215;</a>
            </div>
            <div id="myModal" class="reveal-modal" role="modal">
                <h1 class="modal-title">jquery导出层</h1>
                <p class="modal-content">This is a default modal in all its glory, but any of the styles here can easily be changed in the CSS.</p>
                <p class="modal-content">This is a default modal in all its glory, but any of the styles here can easily be changed in the CSS.</p>
            </div>
        </aside>
        <aside class="mask-layer fade" role="mask"></aside>
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="../../../lib/jQuery/jquery-1.11.3.js"></script>
        <script type="text/javascript" src="js/alert.js"></script>
    </body>
</html>
