<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>accordion</title>
    </head>
    <body id="css-zen-garden">
    	<div class="page-wrapper">
            <section class="accordion-wrapper">
            1111
            </section>
        </div>
        <aside class="sidebar" role="complementary"></aside>
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="../../../lib/jQuery/jquery-1.11.3.js"></script>
        <script type="text/javascript">
            function aa(){}
            $.extend(aa,{
                bb:function(){},
                cc:function(){}
            });
            console.info(aa);
            console.info("test");
        </script>
    </body>
</html>
