/*---------------------------------
	@group detail support common
*/
body{
	background: #F0F0F0;
}
.detail-show{
	background: #fff;
	border: 1px solid #CCCCCC;
	margin-bottom: 20px;
}
.detail-show-left{
	float: left;
	width: 310px;
	
}
.detail-show-right{
	float: right;
	width: 688px;
}
.detail-show-right-inner{
	border-left: 1px solid #ccc;/*宽度分离额外的添加了inner*/
	padding:10px;
}
.bread-nav{
	font-size: 0;
	font-family: "宋体";
	line-height: 17px;
	margin-top: 18px;
	margin-bottom: 13px;
}
.bread-nav a,
.bread-nav span,
.bread-nav em,
.bread-nav strong{
	font-style: normal;
	font-size: 12px;
}
.detail-show-img{
    margin-top: 20px;
    text-align: center;
}
.detail-show-thumb-wrapper{
	width: 266px;
	margin: 20px auto;
}
.detail-show-thumb{
	padding-left: 1px;/*居中对齐一像素不差*/
}
.detail-thumb-item{
	float: left;
	border: 1px solid #ccc;
	margin-left: -1px;/*border-collapse*/
	vertical-align: middle;
	line-height: 0;
}
.thumb-active{
	border-color: #317EE7;
	position: relative;/*显示边框*/
}


.show-detail-title{
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	padding: 13px 0px 13px 15px;
}
dl,dt,dd{
	margin:0;
	padding: 0;
}
.show-price-reduce{
	line-height: 34px;
}
.price-reduce-title{
	float: left;
	padding-left: 15px;
	font-family: "新宋体";
	font-style: normal;
	font-size: 12px;
	line-height: 34px;
}
.price-reduce{
	margin-left: 75px;
	line-height: 34px;
	font-family: "新宋体";
	font-size: 12px;
}
.price{
	color: red;
	font-family: "微软雅黑";
	font-size: 22px;
	line-height: 22px;
}
.money-icon{
	font-style: normal;
	font-size: 12px;
}
.reduce-icon{
	display: inline-block;
	width: 55px;
	background: url("../images/icon/seals-icon.gif") no-repeat left center;
	text-indent: 15px;
	line-height: 18px;
	padding-right: 5px;
	color: #fff;
}
.show-self{
	background: #F2F2F2;
	padding: 20px 0px;
	margin: 17px 0px;
	/*font-size: 0px;*/
}
.customer-option{
	float: left;
	padding: 2px;
	background-color: #fff;
	color: #666666;
	border: 1px solid #CCCCCC;
	margin-right: 20px;
	margin: 10px 20px 10px 0px;
}
.customer-option-active{
	border-color: #317EE7;
	color: #000;
}
.address-options{
	height: 24px;
}
.customer-self-color{
	padding: 5px 33px;
}
.customer-color-title{
	line-height: 66px;
}
.customer-self-size{
	padding: 2px 10px;
}
.customer-size-title{
	line-height: 124px;
}
.number-dailog{
	width: 84px;
	height: 34px;
	float: left;
	margin-right: 5px;
	text-align: center;
}
.number-dailog-inner{
	border: 1px solid #B2B2B2;
	background: #fff;
}
.number-reduce,
.number-increace{
	display: inline-block;
	width: 15px;
	/*outline: 1px solid red;*/
	text-align: center;
}
.number-reduce{
	float: left;
	border-right: 1px solid #B2B2B2;
}
.number-increace{
	float: right;
	border-left: 1px solid #B2B2B2;
}
.customer-selected{
	font-family: "宋体";
	font-size: 12px;
	text-indent: 15px;	
	font-weight: bold;
}
.selected-content{
	color: #0479CA;
}
.customer-alert{
	font-family: "宋体";
	font-size: 12px;
	text-indent: 15px;
	color: #999999;
}
.add-cart-purchase{
	margin: 10px 0px 10px 15px;
}
.add-common{
	display: inline-block;
    width: 184px;
    line-height: 48px;
    text-indent: 64px;
    color: #fff;
    background: url("../images/icon/cart.gif") no-repeat 20% center #F98700;
}
.add-wrapper{
	float: left;
	padding: 20px 0px;
	border-left: 1px solid #E5E5E5;
}
.add-cart{
	margin-left: 75px;
	margin-right: 20px;
}
.add-purchase{
	margin-left: 20px;
}
.add-wrapper-self{
	border-left: none;
}


/*----------------------------------------
	@group goods
*/
.detail-refer{
	margin-top: 20px;
}
.refer-wrapper-left{
	float: left;
	width: 190px;
}
.refer-wrapper-right{
	float: right;
	width: 810px;
}
.refer-wrapper-right-inner{
	background: #fff;
	margin-left: 23px;
}
/*-------------------------------
	同价位
*/
.same-common-wrapper{
	background: #fff;
	margin-bottom: 20px;
}
.same-common{
	font: 12px/18px "新宋体";
	color: #999999;
	padding: 0px 16px;
	border: 1px solid #ccc;
	margin-top: -1px;
}
.same-item{
	text-align: center;
	padding: 20px 0px 40px;
}
.same-info{
	margin-top: 12px;
}
.same-price{
	text-align: left;
	font-family: "微软雅黑";
	color: #E63F3F;
}
.same-title{
	text-indent: 13px;
    border: 1px solid #ccc;
    font: bold 14px/34px "新宋体";
    height: 36px;
}
.same-first{
	border-top:3px solid #1D86CF;
}
/*--------------------------
	商品介绍 商品评价
*/
.refer-tab-items{
	border: 1px solid #ccc;
	height: 40px;
	background: url("../images/tab-bg.gif") left top repeat-x;
	padding-left: 1px;
}
.refer-tab-item{
	float: left;
	display: block;
	width: 50%;
	height: 100%;
	text-align: center;
	font: 14px/40px "宋体";
}
.tab-first-self{
	border-right: 1px solid #ccc;
	margin-left: -1px;
}
.tab-active{
	background: #0479CA;
	color: #fff;
	font-weight: bold;
	position: relative;
}
.tab-icon{
	display: inline-block;
	width: 20px;
	height: 18px;
	text-align: center;
	margin-right: 20px;
	vertical-align: middle;
}
.tab-info{
	background: url("../images/icon/tab-info.gif") no-repeat left top;
}
.tab-talk{
	background: url("../images/icon/tab-talk.gif") no-repeat left top;
}
/*-----------------------
	tab内容
*/
.tab-content{
	border: 1px solid #ccc;
	border-top: none;
}
.content-title-common{
	float: left;
}
.contet-common{
	display: table-cell;
	*display: inline-block;
	width: 9999px;
}
.content-common-item{
	float: left;
}
.content-content-common{
	margin-top: 20px;
}
.tab-content-wrapper{
	font-family: "新宋体";
}
.tab-gap70{
	margin-bottom: 70px;
}
.content-title{
	font: bold 14px/34px "新宋体";
	text-indent: 18px;
	padding: 13px 0px;
}
.content-title-self{
	font: 18px/25px "微软雅黑";
	margin-right: 10px;
}
.score{
	font-size: 50px;
	line-height: 50px;
	color: #FF8F00;
	padding-left: 8px;
}
.content-items-self{
	width: 480px;
	background: #BDBDBD;
	color: #fff;
}
.content-item-self{
	padding: 0px 25px;
	font-size: 12px;
	line-height: 19px;
}
.customer-score{
	font-size: 12px;
	line-height: 25px;
	color: #65657D;
	margin-top: 8px;
}
.score-wrapper{
	position: relative;
}
.score-icon{
	position: absolute;
	left: 420px;
	top: -20px;
}
.middle-header-left{
	float: left;
	margin-left: 20px;
}
.middle-header-right{
	float: right;
	margin-right: 20px;
}
.middle-new{
	position: absolute;
	right: 0;
	top: -20px;
}
.middle-header-left li{
	margin-right: 40px;
}
.middle-head-active{
	color: #317EE7;
	border-bottom: 1px solid #317EE7;
}
.middle-wrapper{
	background: #F2F2F2;
}
.mid-a-item{
	display: block;
	font: 12px/32px "新宋体";
	color: #000;
}
.mid-active{
	border-bottom: 3px solid #317EE7;
}
.mid-active .mid-a-item{
	color: #317EE7;
}
.mid-sort-item{
	font: 12px/32px "宋体";
	color: #000;
	padding-right: 15px;
	background: url("../images/icon/sort-down.gif") no-repeat 90% center;
}
.mid-sort-left{
	border-right: 1px solid #CDCDCD;
	margin-right: 10px;
}
.customer-left{
	margin-left: 40px;
	margin-right: 70px;
}
.customer-star{
	float: left;
	width: 15px;
	height: 14px;
	background: url("../images/icon/star-icon.gif") no-repeat center center;
}

