.reg-background{
	background: url("../images/reg-bg.gif") repeat-x left top #fff;
}
/*-----------------------------------------------------------
	reg common
*/
.reg-comm-w{
	width: 630px;
	margin:0 auto;
}
.reg-content{
	margin-bottom: 30px;
	padding: 0 130px;
	overflow: hidden;
}
.reg-required{
	position: absolute;
    margin-left: -16px;
    font-style: normal;
    color: red;
}
.reg-remark{
	position: absolute;
	margin-left: 10px;
	margin-top: 8px;
}
.reg-label{
	float: left;
	margin-top: 8px;
}
.reg-cell{
	display: table-cell;
	width: 9999px;
}
.reg-input{
	padding: 10px 5px;
    line-height: 18px;
    width: 260px;
    border: 1px solid #d0d6d9;
    vertical-align: top;
}
/*---------------------------------------------------------
*/
.reg-wel{
	line-height: 86px;
	text-indent: 198px;
}
.reg-logo{
	position: absolute;
	margin-left: 61px;
	margin-top: 14px;
}
.reg-wrapper{
	border: 1px solid #ccc;
	margin-top: 15px;
	height: 578px;
	text-align: center;
	padding: 69px 0px 56px;
}

