<!DOCTYPE html>
<html lang="en" ng-app="NgShowcaseApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap的HTML标准模板</title>
        <!--你自己的样式文件 --> 
        <link href="../lib/bootstrap-lib/normalize.css" rel="stylesheet">
        <link href="css/common.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
        <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
        <script src="../../lib/bootstrap-lib/html5shiv.js"></script>
        <script src="../../lib/bootstrap-lib/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="css-zen-garden">
        
    		<div class="page-wrapper">
    			<section class="intro" id="zen-intro">
    				<div class="thum-header w1000 fix">
    					<a class="thum-header-icon l">收藏慕课</a>
    					<div class="welcome-login r">
    						欢迎来到慕课网！
    						<a href="#" class="thum-login">[登录]</a>
    						<a href="#" class="thum-regeist">[免费注册]</a>
    					</div>
    				</div>
    				<div class="logo-search-cart"><!-- log search cart -->
    					<div class="content w1000">
    						<a class="logo">
    							<img src="images/logo.jpg">
    						</a>
    						<form class="search">
    							<input class="input" type="text" />
    							<input class="subtn" type="submit" value="搜&nbsp索" />
    						</form>
    						<div class="cart">
    							<a class="cart-icon">
    								<img class="icon" src="images/icon/cart-icon.jpg" />购物车
    							</a>
    							<span class="cart-msg">0</span>
    						</div>
    					</div>
    				</div>
    				<div class="nav fix"><!-- nav bar -->
    					<div class="w1000">
    						<h2 class="categary">全部商品分类</h2>
	    					<ul class="nav-items">
	    						<li class="item">数码城</li>
	    						<li class="item">天黑黑</li>
	    						<li class="item">团购</li>
	    						<li class="item">发现</li>
	    						<li class="item">二手特卖</li>
	    						<li class="item">名品会</li>
	    					</ul>
    					</div>
    				</div>
    			</section>
    			<div class="main supporting" id="zen-supporting" role="main">
    				
    			</div>
    			<footer>
    				
    			</footer>
    		</div>

    		<aside class="sidebar" role="complementary">
    			
    		</aside>
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="../lib/jQuery/jquery-1.11.3.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="../lib/bootstrap-lib/js/bootstrap.js"></script>
    </body>
</html>
