<!DOCTYPE html>
<html lang="en" ng-app="NgShowcaseApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap的HTML标准模板</title>   
        <!-- Bootstrap -->
        <link href="../../lib/bootstrap-lib/css/bootstrap.min.css" rel="stylesheet">
        <!--你自己的样式文件 --> 

        <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
        <script src="../../lib/bootstrap-lib/html5shiv.js"></script>
        <script src="../../lib/bootstrap-lib/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
          .container{
            width: 500px;
            margin: 0 auto;
          }
        </style>
    </head>
    <body style="padding-top:50px;">
        <div class="container" ng-controller="ctrl.show.sel">
            <form role="form">
                <div class="form-group">
                    <label>把对象作为value</label>
                    <select class="form-controll" ng-model="vm.value" 
                            ng-options="city.label for city in vm.citys">
                        <option value="">-- 请选择类型 --</option>
                        <!-- use city obj for city label -->
                    </select>
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button class="close" type="button" data-dismiss="alert">&times;</button>
                        你现在选择的是:{{vm.value}}
                    </div>
                </div> 
                <hr>
                <div class="form-group">
                    <label>把code作为value</label>
                    <select class="form-controll" ng-model="vm.codeValue"
                            ng-options="city.code as city.label for city in vm.citys">
                        <option value="">-- 请选择类型 --</option>
                        <!-- use city code for city label -->
                    </select>
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button class="close" type="button" data-dismiss="alert">&times;</button>
                        你现在选择的是:{{vm.codeValue}}
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label>分组</label>
                    <select class="form-controll" ng-model="vm.groupedValue"
                            ng-options="city.code as city.label group by city.province for city in vm.citys">
                        <option value="">-- 请选择类型 --</option>
                        <!-- use city code for city label label group by provice -->
                    </select>
                    <div class="alert alert-danger alert-dismissable" role="alert" ng-show="vm.groupedValue">
                        <button class="close" type="button" data-dismiss="alert">&times;</button>
                        你现在选择的是:{{vm.groupedValue}}
                    </div>
                </div>
                <div class="form-group">
                    <label>track by</label>
                    <select class="form-controll" ng-model="vm.trackValue"
                            ng-options="city.label for city in vm.citys track by city.code"> <!-- city code as label -->
                        <option value="">-- 请选择类型 --</option>
                    </select>
                    <span class="btn btn-primary" ng-click="vm.trackValue = {code: 'bj', label: '魔都'}">选择魔都</span>
                    <span class="btn btn-primary" ng-click="vm.trackValue = {code: 'sh', label: '上海'}">选择上海</span>
                    <div class="alert alert-danger alert-dismissable" role="alert" ng-show="vm.trackValue">
                        <button class="close" type="button" data-dismiss="alert">&times;</button>
                        你现在选择的是:{{vm.trackValue}}
                    </div>
                </div>
            </form>
        </div>
        
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="../../lib/jQuery/jquery-1.11.3.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="../../lib/bootstrap-lib/js/bootstrap.js"></script>
        <!-- angular　-->
        <script src="../../lib/angular-1.3.0.14/angular.js"></script>
        <script src="./select.js"></script>
    </body>
</html>
