<!DOCTYPE html>
<html lang="en" ng-app="NgShowcaseApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap的HTML标准模板</title>   
        <!-- Bootstrap -->
        <link href="../../lib/bootstrap-lib/css/bootstrap.min.css" rel="stylesheet">
        <!--你自己的样式文件 --> 

        <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
        <script src="../../lib/bootstrap-lib/html5shiv.js"></script>
        <script src="../../lib/bootstrap-lib/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
          .container{
            width: 500px;
            margin: 0 auto;
          }
         
        </style>
    </head>
    <body style="padding-top:50px;">
        <div class="container" ng-controller="ctrl.show.form">
            <div ng-class="['alert', 'alert-dismissable', alert.type]" role="alert" ng-repeat="alert in vm.alerts">
                <button class="close" type="button" ng-click="vm.closeAlert($index)">&times;</button>
                {{alert.msg}}
            </div>
            <form role="form">
              <div class="form-group">
                  <label class="">警告类型</label>
                  <select class="form-control" ng-model="vm.type" ng-options="type for type in vm.types" required>
                      <option value="">-- 请选择类型 --</option>
                  </select>
              </div>
              <div class="form-group">
                  <label>警告内容</label>
                  <input type="text" class="form-control" ng-model="vm.mesg" required />
              </div>
              <button class="btn btn-default" ng-click="vm.addAlert(vm.type,vm.mesg)">添加警告</button>
            </form>
        </div>
        
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="../../lib/jQuery/jquery-1.11.3.js"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="../../lib/bootstrap-lib/js/bootstrap.js"></script>
        <!-- angular　-->
        <script src="../../lib/angular-1.3.0.14/angular.js"></script>
        <script src="./form.js"></script>
    </body>
</html>
